$def with (items, form)

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">


<table class = "table table-hover" style = "width:100%;">
    <tr>
        <th>Auction ID</th>
        <th>Description</th>
      	<th>Category</th>
        <th>Current Bid</th>
        <th>End Date</th>
    </tr>
    
    <tr>
    	<td>
        	<form action="/index" method="get">
        		<input sName="id" type="search" class="form-control" placeholder="Search">
        	</form>
        </td>
    	<td><input type="search" class="form-control" placeholder="Search"></td>
    	<td><input type="search" class="form-control" placeholder="Search"></td>
    	<td><input type="search" class="form-control" placeholder="Search"></td>
    	<td><input type="search" class="form-control" placeholder="Search"></td>
    </tr>
$for item in items:		
    <tr>
        <td>$item.id</td>
        <td>$item.title</td>
        <td>$item.category</td>
        <td>$item.price</td>
        <td>$item.end_date</td>
        
        <!--
        <td>
            <form action="/del/$item.id" method="post">
                <input type="submit" class="btn btn-default" value="Delete"/>
            </form>
        </td>
        -->
        
    </tr>    
</table>  

<form action="" method="post">
$:form.render_css()
</form>
