$def with (page)

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<html>
<head>
    <title>WSU CS Auction</title>
   	
</head>
<body>


	<div class="banner container-fluid">
    	<div class="container">
    	<h2>WSU CS Auction House</h2>
    	<ul class="list-inline">
        	<li><a href="/">Listings</a></li>
            <li><a href="/new">Auction Item</a></li>
        </ul>
        </div>
    </div>
    	<div class="row">
    		<div class="col-md-1 col-sm-1 col-xs-1" style="height:100%;"></div>
        	<div class="col-md-10 col-sm-10 col-xs-10"> $:page </div>
        	<div class="col-md-1 col-sm-1 col-xs-1" style="height:100%;"></div>
   		</div>
    <div style="height:100px;"></div>


</body>
</html>


<style>

.banner{
	background-color:f8f8f8;
	border-bottom-color:1px solid #eee;
	margin-bottom:10px;
}

</style>