$def with (items, form)

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<table class = "table table-hover" style = "width:100%;">
    <tr>
        <th>Auction ID</th>
        <th>Description</th>
      	<th>Category</th>
        <th>Current Bid</th>
        <th>Buy Price</th>
        <th>End Date</th>
		<th>Status</th>
    </tr>

    <tr>
    	<td>
			<form action="/searchid" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
        </td>
    	<td>
			<form action="/searchdesc" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
		</td>
    	<td>
            <form action="/searchcat" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
        </td>
        <td>&nbsp;&nbsp;</td>
    	<td>
            <form action="/searchbid" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
        </td>
    	<td>
            <form action="/searchED" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
        </td>
		<td>
            <form action="/searchopen" method="get"> 
				<input type="search" name="id" placeholder = "Search" class="form-control"/> 
        	</form>
        </td>
        <td>
            <button type="submit" class="btn btn-default">Search</button>
        </td>
    </tr>
$for item in items:	
    <tr>
        <td>$item.id</td>
        <td>$item.title</td>
        <td>$item.category</td>
        <td>$item.highBid</td>
        <td>$item.price</td>
        <td>$item.end_date</td>
		<td>$item.open</td>
        <td>
            <form action="/item/$item.id" method="get">
               <input type="Submit" class="btn btn-default" value="Bid"/>
            </form>
        </td>       
    </tr>    
</table>  

<form action="" method="post">
$:form.render_css()
</form>