$def with (form)


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<form action="/new" method="post">

	<div class="form-group">
    	<label for="Title">Title</label>
    	<textarea type="text" class="form-control" rows="1" name="Title" placeholder="Title"></textarea>
  	</div>
    
	<div class="form-group">
    	<label for="Description">Description</label>
        <textarea type="text" class="form-control" placeholder="Description" name="Description" rows="5"></textarea>
  	</div>
     
  	<div class="form-group">
    	<label for="buyPrice">Buy Price</label>
    	<textarea type="text" class="form-control" rows="1" name="buyPrice" placeholder="Buy Price"></textarea>
  	</div>
    
  	<div class="form-group">
    	<label for="startDate">Start Date</label>
 	   <textarea type="text" class="form-control" rows="1" name="startDate" placeholder="Is Open"></textarea>
  	</div>
    
  	<div class="form-group">
    	<label for="endDate">End Date</label>
 	   <textarea type="datetime" class="form-control" rows="1" name="endDate" placeholder="End Date"></textarea>
  	</div>
    
    <div class="form-group">
    	<label for="Category">Category</label>
    	<textarea type="text" class="form-control" rows="1" name="Category" placeholder="Category"></textarea>
  	</div>
    
    
    <button type="submit" class="btn btn-default">Submit</button>
	<button type="submit" class="btn btn-default"><a href="/">Cancel</a></button>
    
</form>
  
